<div class="box">
  <label id="user-input">Usuario</label>
  <input id="user-input" type="text" placeholder="Tu nombre"/>
  <hr />
  <label for="chat-message">Mensaje:</label>
  <input id="chat-message" placeholder="Escribe aqui" type="text" />
  <button onclick="send();">Enviar</button>
  <hr />
  <div id="all-messages"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="../../public/js/chat.js"></script>
