<div id="messages">
  {{#each messages}}
    <div>
      <strong>{{author}}</strong>:
      <em>{{text}}</em>
    </div>
  {{/each}}
</div>
<form action="">
  <input type="text" id="user" placeholder="Usuario" />
  <input type="text" id="message" placeholder="Mensaje" />
  <button onclick="addMessage()">Enviar</button>
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>