<h1>JWT Login Test</h1>

<form>
    
    <label for="email">Email</label>
    <input type="email" name="email" id="email">

    <label for="password">Password</label>
    <input type="password" name="password" id="password">

    <button class="bg-green" onclick="Login(event)">Login</button>
</form>

<button class="bg-green" onclick="ShowData()">Mostrar Datos</button>
<div id="showData"></div>

<script type="text/javascript" src="/js/{{script}}"></script>