<div class="box">
    <h1>Datos Basicos</h1>
    <hr>
    <div class="box">
        <p><b>Nombre:</b> {{user.first_name}}</p>
        <p><b>Apellido:</b> {{user.last_name}}</p>
        <p><b>Email:</b> {{user.email}}</p>
        <p><b>Age:</b> {{user.age}}</p>
    </div>
</div>