<div class="box">
    <h1>Bienvenido {{user.name}}</h1>
    <hr>

    <h2>Datos Básicos</h2>
    <div class="box userData">
        <p><b>Nombre Completo:</b> {{user.name}}</p>
        <p><b>Usuario:</b> {{user.username}}</p>
    </div>
</div>