{{!-- muestro los productos en mi bd --}}
<div class="box">
    <h1>Productos</h1>
    <div class="products-box" id="list">        {{#each products}}
            <div class="product-card">
                <h3>{{this.title}}</h3>
                <hr>
                <p>Categoria: {{this.category}}</p>
                <p>Descripción: {{this.description}}</p>
                <p>Precio: $ {{this.price}}</p>
            </div>
        {{/each}}
    </div>
</div>


    <script src="/socket.io/socket.io.js"></script>
    <script src="../../public/js/index.js"></script>
